* {
    font-family: Comic Sans MS;
}

/* header */
.header {
    background-color: beige;
    display: flex;
    padding: 10px;
    height: 50px;
    align-items: center;
}
.header h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

/* navbar */
.nav {
    background-color: gray;
    margin-top: 0px;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
    height: 20px;
}

.nav-item a {
    color:white;
    text-decoration: none;
}

/* content */
.content {
    margin-left: 40px;
    margin-right: 40px;
}

.content h1 {
    color: rgb(27, 116, 27);
    font-size: 1.5em;
}

.copypasta span {
    color:crimson;
    margin-top: 10px;
    font-weight: bold;
}

.copypasta img {
    float: right;
    width: 35%;
    margin-left: 5px;
}

.back a {
    font-size: 1.2em;
    color:forestgreen;
    text-decoration: none;
}

.back a:hover {
    color:cadetblue;
}

/* list */
.list {
    display: flex;
    justify-content: center;
}

.list-item {
    background-color: blanchedalmond;
    margin: 20px;
    text-align: center;
    width: 220px;
    height: 200x;
    align-content: center;
    padding: 20px;
}

.list-item a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.list-item p {
    color: rgb(67, 67, 67);
    font-size: 15px;
    cursor: default;
    user-select: none;
}

.list-item:hover {
    background-color: cornflowerblue;
}